
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.centre{
display: flex;
justify-content: center;
align-items: center;
height: 85vh;
}
.container{
    /* display: flex;
    justify-content:center; */
    /* border: 2px solid white; */
    height: 50vh;
    width: 30vw;
}
.text{
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
    height: 85px;
}
#form {
    /* display: flex;
    justify-content: center; */
    margin: 20px; /* Adjust margin as needed */
    padding: 10px; /* Adjust padding as needed */
     /* border: 2px solid #ccc;Border color */
    border-radius: 10px; /* Rounded corners */
    width: 300px; /* Adjust width as needed */
    /* background-color: #f0f0f0; Background color */
    /* background-color: rgba(48,48,48,255) */
    background-color: rgba(67,67,66,255);
}
#search {
    padding: 8px;
    width: 1000px;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    margin-right: 10rem;
    /* background-color: white; */
    background-color: rgba(67,67,66,255);
}
#search:focus {
    border-color: #007bff;
}

button[type="button"] {
    padding: 8px 16px; /* Adjust padding as needed */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Show pointer on hover */
    /* background-color: rgba(48,48,48,255) */
}

button[type="button"]:hover {
    background-color: #0056b3; /* Button background color on hover */
}

#form{
    display : flex;
    justify-content: center;
    width: auto;
}
.centre1{
    margin-top: 2rem;
    border-radius: 10px;
    background-color: rgba(67,67,66,255);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 400px;
}
.city , .temp , .wind , .weather{
    margin-top: 15px;
    margin-left: 4rem;
    font-size: 30px;
    display: flex;
    justify-content:left;
    align-items: center;
    margin-bottom: 10px;
    /* padding: 0; */
    height: 50px;
    border-radius: 10px;
    width: 30vw;
    font-family: "Mate SC", serif;

    /* border: 2px solid white; */
}
.temp , .wind , .weather{
    margin-left: 4rem;
    font-size: 20px;
    font-family: "Sometype Mono", monospace;
}
#h1{
    font-family: "Lexend Deca", sans-serif;
}
.img {
    /* border: 2px solid white; */
    margin-top: 1rem;
    height: 135px;
    width: 33vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes identifier1 {
   from {
       opacity: 0;
   }
    to {
         opacity: 1;
    }
}
/* .city , .temp , .wind , .weather{
    /* animation-name: ; */
    /* animation: identifier1 1s ease-in-out  iteration-count direction fill-mode; */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Mate+SC&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap')

